.input__recipe-ingredient {
    width: 12rem;
    margin: .2rem auto;
}
.input__recipe-ingredient-container {
    display: flex;
    flex-direction: column;
    height: 10rem;
    width: 50%;
    min-width: 10rem;
    max-width: 15rem;
    
    overflow-y: auto;
    margin: 0 auto;
  }

.form__ingredient-wrapper {
    display: flex;
    align-content: center;
    justify-content: center;
}

.form__ingredient-wrapper > img {
    height: 70%;
    margin: auto;
    border: 2px solid darkgray;
    border-radius: 4px;
    box-shadow: whitesmoke;
}

.form__ingredient-wrapper > img:hover {
    cursor: pointer;
    box-shadow: none;
}

/*     
.input__recipe-ingredient-container::-webkit-scrollbar-track {
    border-radius: 10px;
} */