.App {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.App-logo {
  height: 10vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 4vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.nav-bar {
  display: flex;
  justify-content: space-evenly;
  top: 0;
  position: sticky;
  width: 100%;
  background-color: white;
  border-bottom: 2px solid black;
  box-shadow: 3px 3px 10px gray;
  z-index: 50;
}
.recipes-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  
 
}
.recipe-card__section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.recipe-card {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 1rem;
  border: 1px solid black;
  width: 200px;
  height: 400px;
}
.recipe-card:hover {
  box-shadow: 3px 3px 10px blue;
}
.recipe-form{
  display: block;
  padding: 2rem;
  background-color: rgb(146, 146, 255);
}
.recipe-name {
  font-size: 14pt;
  max-height: 50px;
}

.recipe-image {
  width: 200px;
  height: 250px;
}

.viewport {
  display: flex;
  
}