.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 4vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.recipe-card__section {
  display: flex;
  justify-content: space-between;
}

.recipe-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 1rem;
  border: 1px solid black;
  width: 200px;
  height: 400px;
}

.recipe-name {
  font-size: 14pt;
  max-height: 50px;
}

.recipe-image {
  width: 200px;
  height: 250px;
}

.viewport {
  display: flex;
  
}